.contentContainer {
  display: flex;
  flex: 1;
  min-width: 280px;
  min-height: 280px;
  padding: 10px;
  border: 1px solid blue;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: red;
  }
}
